.wrapper * {
  background: blue;
  padding: 10px;
  color: white;
}

.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
}
.banner {
  grid-area: banner;
}
.main-nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
}
.ad {
  grid-area: ad;
}
.main-footer {
  grid-area: footer;
}

/* Mobile Layout */


.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "banner"
    "content"
    "sidebar"
    "ad"
    "footer";
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav ul li {
  background: green;
  width: 100%;
  margin-left: -10px;
  margin-bottom: 2px;
}

.main-nav ul li a {
  background:none;
  color: white;
  text-decoration: none;
}

.main-nav ul li.active{
  background: purple;
}

.main-nav ul li:hover{
  background: pink;
}

.main-nav ul li:hover a{
  color:purple;
}

/* tablet layout */

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "banner  banner"
      "sidebar content"
      "ad      footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

/* Desktop layout */


@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header  header"
      "banner banner  banner"
      "nav    content sidebar"
      "nav    content ad"
      "footer footer  footer"
   }
   nav ul {
     flex-direction: column;
   }
}
