.wrapper * {
  background: blue;
  padding: 10px;
  color: white;
}

.main-head {
  grid-area: header;
  font-size: 24px;
  text-align: center;
}
.content {
  grid-area: content;
}
.banner {
  grid-area: banner;
  background-image: url(../images/cryptomain.jpg);
  background-size: cover;
  background-position: center center;
  height: 300px;
}
.main-nav {
  grid-area: nav;
  text-align: center;
}
/*.side {
  grid-area: sidebar;
}
 .ad {
  grid-area: ad;
}*/
.main-footer {
  grid-area: footer;
  text-align: center;
  font-size: 12px;
}

.verge {
  grid-area: verge;
}

.verge h1 a:hover{
  color: #08b4e0;
}

.monero{
  grid-area: monero;
}

.monero h1 a:hover{
  color: #ff7519;
}

.dash {
  grid-area: dash;
}

.verge .price{
  background:#08b4e0;
}

.monero .price{
   background:#ff7519;
}

.dash .price{
  background: #1c75bc;
}

.price{
  border-color: black;
  border-width: 10px;
}

.dash h1 a:hover{
  color: #1c75bc;
}

.compare{
  text-align: center;
}

.compare ul{
  margin: 0;
  padding: 0;
  list-style: none;

}

.pics img {
  height:95%;
  width:95%;
}

.photogallery {
  text-align: center;
}



/* Mobile Layout */

.compare{
  background: black;
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "verge"
    "monero"
    "dash";
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "banner"
    "content"
    "footer";
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav ul li {
  background: black;
  width: 100%;
  margin-bottom: 2px;
  display: block;
  padding:0px;
}

.main-nav ul li a {
  background:none;
  color: white;
  text-decoration: none;
  display:block;
}

.main-nav ul li.active{
  background: lightblue;
  border-style: solid;
  border-width: 2px;
  border-color:black;
}

.main-nav ul li:hover{
  background: lightblue;
  border-style: solid;
  border-width: 2px;
  border-color:black;
}

.main-nav ul li:hover a{
  color:blue;
}
nav ul{
  display: flex;
  justify-content: space-between;
}


/* tablet layout */
@media (min-width: 500px) {
  .compare {
  background: black;
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
  "verge"
  "monero"
  "dash"
}
}


@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "banner  banner"
      "content content"
      "footer   footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
  .main-head{
    font-size: 32px;
  }
}

/* Desktop layout */

@media (min-width: 700px) {
  .compare {
  background: black;
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
  "verge monero dash"

}
@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header  header"
      "banner banner  banner"
      "nav    content content"
      "nav    content content"
      "footer footer  footer"
   }
   nav ul {
     flex-direction: column;
   }
   .main-nav ul li {
     margin-left: -10px;
     width: 110%;
   }
   .main-head{
     font-size: 48px;
   }
}
